.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 657px;
  overflow: hidden;
  background-color: #A7CED5;
}

.header .image{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  object-fit: cover;
}

.header .gradient{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgb(0,21,80);
  background: linear-gradient(90deg, rgba(0,21,80,1) -10%, rgba(0,21,80,0.65) 44%, rgba(0,21,80,0.45) 100%);
}

.header .texto{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 11;
  margin-left: 12%;

  .titulo{
    font-family: 'Pop-Bold';
    font-size: 42px;
    color: white;
  }

  .sub-titulo{
    font-family: 'Pop-Regular';
    font-size: 30px;
    color: #FFBE58;
  }

  .descricao{
    font-family: 'Rubik-Regular';
    font-size: 14px;
    color: #E4E9FF;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.categorias{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 120px;
  max-width: 1200px;
}

.painel{
  width: 100%;
  max-width: 1200px;
}

.painel .painel-header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  .titulo{
    font-family: 'Pop-Regular';
    font-size: 28px;
    color: #475677;
  }
}

.painel .painel-content{
  display: flex;
  justify-content: space-between;
  margin-top: 76px;
}

.escolha{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 120px;

  .imagem{
    width: 600px;
    height: 522px;
  }

  .informacao{
    display: flex;
    flex-direction: column;
    padding-left: 60px;

    .h1{
      font-family: 'Pop-SemiBold';
      font-size: 24px;
      color: #475677;
    }

    .h2{
      display: flex;
      align-items: center;
      font-family: 'Pop-Light';
      font-size: 50px;
      color: #475677;

      .linha{
        width: 50px;
        height: 1px;
        border: 1px solid #475677;
        margin-top: 5%;
        margin-left: 5px;
      }
    }

    .h3{
      font-family: 'Rubik-Regular';
      font-size: 13px;
      color: #7D8597;
      margin-top: 20px;
      margin-bottom: 38px;
      line-height: 26px;
    }

    .ponto{
      display: flex;
      padding: 12px 0;
      font-family: 'Pop-SemiBold';
      font-size: 15px;
      color: #475677;

      img{
        margin-right: 30px;
      }
    }
  }
}

.conquistas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 102px;
  padding-bottom: 102px;
  background-color: #EFF7FF;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 120px;

  .titulo{
    font-family: 'Pop-Bold';
    font-size: 28px;
    color: #475677;
    margin-bottom: 13px;
  }

  .descricao{
    font-family: 'Rubik-Regular';
    font-size: 15px;
    color: #7D8597;
    text-align: center;
    line-height: 26px;
  }

  .informacao{
    display: flex;
    margin-top: 62px;

    .informacao-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 120px;

      .numero{
        font-family: 'Pop-Regular';
        font-size: 38px;
      }

      .numero-descricao{
        font-family: 'Rubik-Regular';
        font-size: 15px;
        color: #7D8597;
      }
    }

    .informacao-item:last-child{
      margin-right: 0;
    }
  }
}
