<div class="card">
    <div class="header">
      <img class="image" [src]="Image" alt="">
      <div class="preview">
        <img src="assets/icons/icon_play_branco.svg" alt="">
        <span>Ver Curso</span>
      </div>
    </div>
    <div class="content">
      <div class="content-header">
        <span class="categoria">{{Categoria}}</span>
        <div class="tempo">
          <span>{{Tempo}}</span>
        </div>
      </div>
      <span class="titulo">{{Preco}} KZ</span>
      <div class="content-footer">
        <button class="btn-primario-amarelo">Comprar</button>
      </div>
    </div>
</div>  