<nav class="header">
  <div class="logo">
    <img class="router-link-active" routerLink="/" src="assets/images/logo.svg" alt="">
  </div>
  <div class="menus">
    <ul>
      <li *ngFor="let item of Menu"><a [routerLink]="item.Link">{{item.Titulo}}</a></li>
    </ul>
    <div class="user">
      <img *ngIf="!(authService.user | async)" class="router-link-active" routerLink="/login" src="assets/icons/icon_user.svg" alt="">
      <span class="user-email" *ngIf="authService.user | async as user" (click)="Logout()">{{user.email}}</span>
    </div>
  </div>
</nav>
