/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: Pop-Medium;
  src: url(assets/fonts/Poppins-Medium.ttf) format("opentype");
}

@font-face {
  font-family: Pop-Light;
  src: url(assets/fonts/Poppins-Light.ttf) format("opentype");
}

@font-face {
  font-family: Pop-SemiBold;
  src: url(assets/fonts/Poppins-SemiBold.ttf) format("opentype");
}

@font-face {
  font-family: Pop-Regular;
  src: url(/assets/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Pop-Bold;
  src: url(/assets/fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Rubik-Regular;
  src: url(/assets/fonts/Rubik-Regular.ttf) format("truetype");
}

.router-link-active{
  outline: 0;
}

button{
  font-family: 'Rubik-Regular';
  border-radius: 25px;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  outline: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-home-header{
  width: 170px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.btn-home-header:hover{
  background-color: white;
  color: #475677;
}

.btn-secundario{
  background-color: white;
  border: 1px solid #D9DCE3;
  color: #475677;
}

.btn-primario{
  width: 100%;
  padding: 12px 30px;
  background-color: #475677;
  border: 1px solid #475677;
  color: white;
}

.btn-secundario:hover{
  background-color: #475677;
  color: white;
}

input[type=text],  input[type=password]{
  padding: 0 10px 0 10px;
  width: 100%;
  height: 39px;
  border: 1px solid #D9DCE3;
  border-radius: 15px;
  font-family: 'Pop-Medium';
  font-size: 13px;
  color: #475677;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
}

input[type=text]:focus, input[type=password]:focus {
  border: 1px solid #475677;
}
