<div class="form-registar">
    <span class="aceder">Preencha os dado para se registar</span>
    <form class="form">
        <input class="nome" [formControl]="useName" type="text" placeholder="Digite o primeiro e ultimo nome">
        <input type="text" [formControl]="useEmail" placeholder="Email">
        <div class="password-content">
            <input [formControl]="usePassword" type="{{passwordVisivel?'text':'password'}}" placeholder="Palavra-passe" class="textbox">
            <img class="icon" [src]="'assets/icons/'+(passwordVisivel?'icon_esconder_password.svg':'icon_visualizar_password.svg')" alt="" (click)="VisualizarPassword()">
        </div>
        <button class="btn-primario" [class.spinner]="isLoading" (click)="registar()">{{isLoading?'':'Registar'}}</button>
    </form>
    <div class="registar">
        <span>Já tem uma conta? <b routerLink="/login">Efetuar login</b></span>
    </div>
</div>