<div class="card">
  <div class="header router-link-active" [routerLink]="['/cursos', 'detail']" routerLinkActive="router-link-active" >
    <img class="image" [src]="Image" alt="">
    <div class="preview">
      <img src="assets/icons/icon_play_branco.svg" alt="">
      <span>Ver Curso</span>
    </div>
  </div>
  <div class="content">
    <div class="content-header">
      <span class="categoria">{{Categoria}}</span>
      <div class="tempo">
        <span>{{Tempo}}</span>
      </div>
    </div>
    <span class="titulo">{{Titulo}}</span>
    <div class="content-footer">
      <div class="rate">
        rate
      </div>
      <div class="views">
        <span>{{Views}}</span> Views
      </div>
    </div>
  </div>
</div>
